<div class="row" style="border-bottom-color: grey, border-bottom-width: 2">
  <div class="col-xs-3" style="background-color: green">
    <div class="box">GUSTO</div>
  </div>
  <div class="col-xs-7" style="background-color: orange">
    <div class="box">We <3 Flexbox</div>
  </div>
  <div class="col-xs-2" style="background-color: blue">
    <div class="box">Profile</div>
  </div>
</div>

<h1>Hello, Kyle!</h1>

